* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}
button,
input,
select,
option {
  font-size: 1em;
}

button,
i {
  cursor: pointer;
}

button {
  display: inline-block;
  margin: 0.25em 0.5em;
  width: 6em;
  line-height: 1.2;
  appearance: none;
  box-shadow: none;
  border-radius: 0px;
  border: solid 1px #6496c8;
  background: rgba(0,0,0,0);
  color: #6496c8;
}

button:focus {
  outline: none
}

a:link {
  color: inherit;
  text-decoration-line: inherit;
}

li {
  list-style: none;
  padding-left: 2em;
  cursor: pointer;
}

tr:nth-child(even) {
  background: #eee;
}
tr:nth-child(odd) {
  background: #fff;
}

#main {
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#navbar-title {
  font-size: 1.5em;
}
#navbar {
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
}
#navbar a.active > button {
  border-color: #27496d;
  color: #27496d;
}
#home {
  display: flex;
  justify-content: center;
}

#all-campuses {
  width: 100%;
  text-align: center;
}
#all-campuses th {
  font-weight: 300;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#single-campus-content {
  display: flex;
}
.bio {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
.bio-title {
  font-size: 1.5em;
}
.bio-title i {
  font-size: 0.7em;
  padding-left: 30px;
}
.students-list {
  padding-left: 1em;
}

#action-bar {
  display: flex;
  flex-direction: column;
  align-self: right;
}

#all-students {
  width: 100%;
  text-align: center;
}
#all-students th {
  font-weight: 300;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#form-container {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
#form-container form input {
  margin: 0 0.5em;
}
#form-container form select {
  margin: 0 0.5em;
}

#campus-link {
  display: flex;
}
